@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 0%; /* Black */
    --foreground: 0 0% 90%; /* Light Gray */
    --card: 0 0% 10%; /* Dark Gray */
    --card-foreground: 0 0% 90%; /* Light Gray */
    --popover: 0 0% 10%; /* Dark Gray */
    --popover-foreground: 0 0% 90%; /* Light Gray */
    --primary: 0 0% 95%;
    --primary-foreground: 0 0% 10%;
    --secondary: 0 0% 30%;
    --secondary-foreground: 0 0% 90%;
    --muted: 0 0% 30%;
    --muted-foreground: 0 0% 60%;
    --accent: 0 0% 30%;
    --accent-foreground: 0 0% 90%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 30%;
    --input: 0 0% 30%;
    --ring: 0 0% 83.1%;
    --radius: 0.5rem
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Added Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px; /* Set height for horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--secondary));
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: hsl(var(--secondary) / 0.3);
    border-radius: 10px;
}

.code-block {
  max-width: 100%;
  white-space: pre-wrap;
  word-break: break-all;
  display: block;
}